In [ ]:
import pandas as pd

# This script downloads the dataset from Hugging Face Hub and loads it into a pandas DataFrame.
# Make sure to install the required libraries first: which is the huggingface_hub library. and pyarrow for parquet support. and fastparquet for parquet support.
# Login using e.g. `huggingface-cli login` to access this dataset

splits = {'train': 'train.parquet', 'test': 'test.parquet', 'validation': 'validation.parquet'}
df = pd.read_parquet("hf://datasets/ComplexDataLab/Misinfo_Datasets/" + splits["train"])

In [58]:
import pandas as pd

df3 = pd.read_csv("./ClaimRealCOVID-19_tweets.csv", dtype={'tweet_id': str})

In [ ]:
# to access other datasets from the huggingface hub you can change the dataset name in the path
df = df[df["dataset"]=="antivax"][["tweet_id"]]

In [31]:
import numpy as np

In [23]:
df = df[df.tweet_id.apply(lambda x: x.isnumeric())]

In [27]:
df.to_csv('train.csv')

In [28]:
df2 = pd.read_csv('train.csv', dtype={'tweet_id': str})
df2 = df2.drop(df2.columns[0],axis=1)

In [26]:
df2

                  tweet_id
0      1344794822691983360
1      1344794752819077120
2      1344790296119422976
3      1344789059290468352
4      1344788039319625728
...                    ...
10437  1413091144376885248
10438  1413090654356393984
10439  1413089672910213120
10440  1413088663886573568
10441  1413087751474397184

[10442 rows x 1 columns]

In [64]:
df3

                 tweet_id
0     1253283636843089920
1     1253965710520397828
2     1253959004436467713
3     1252584911183249409
4     1252577361545043968
...                   ...
6337  1221843359305818115
6338  1221841512696205312
6339  1221841094050230278
6340  1221840413700562944
6341  1221840180287606789

[6342 rows x 1 columns]

In [61]:
df2.to_json('train.json', orient='records')

In [62]:
df3 = df3.drop(df3.columns[0],axis=1)

In [65]:
df3.to_json('CoAID.json', orient='records')